page-vegetation {

}

.thumbnail-images {
}

.thumbnail-header {
    text-align: center;
}

.thumbnail-text{
    overflow: hidden;
    text-overflow: ellipsis;
}

.readMore{
   float: left;
   font-weight: bold;
}

.location{
    float: right;
    font-weight: bold;
}