page-vegetation {

}

.thumbnail-images {
}

.thumbnail-header {
    text-align: center;
}

.thumbnail-text{
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.readMore{
   float: left;
}

.location{
    float: right;
}