page-history-trails {

}

.rezize-main {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.resize{
    width : 400px;
    height: 550px;
     display: block;
    margin-left: auto;
    margin-right: auto;
}
